$namespace: "general-navbar";
.#{$namespace} {
  //position: fixed;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: $navbar-height;
  z-index: 10;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  a {
    font-family: "Vollkorn", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 35%;
    text-decoration: none;
    color: $dark-green;
  }
}
.#{$namespace}-inner {
  display: flex;
  align-items: center;
  height: 100%;
  & > button {
    @include action-btn-styles($width: 8.5em);
  }
  button:focus {
    outline: $blue solid 1px;
  }
}
.#{$namespace}-search-container {
  display: flex;
  align-items: center;
  height: $navbar-height * 0.38;

  background-color: $off-white;
  margin-right: 1em;

  button {
    @include remove-btn-default;
    font-weight: 600;
    font-size: 0.95em;
    background: none;
    height: 100%;
    color: $light-black;
    padding-left: 1em;
    padding-right: 0.25em;
  }
  button:focus {
    outline: $blue solid 1px;
  }
  input {
    font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0.75em;
    background: none;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: $light-black;
    font-weight: 400;
    width: 10em;
  }
  input:focus {
    outline: $blue solid 1px;
  }

  input::placeholder {
    font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $darkest-gray;
    font-size: 0.73em;
  }
}
