@use "sass:math";
$namespace: "general-navbar";
.#{$namespace} {
  //position: fixed;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: $navbar-height;
  z-index: 10;
  background-color: $white;
  //border-bottom: 1px solid $light-gray;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  a {
    font-family: "Vollkorn", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 35%;
    text-decoration: none;
    color: $dark-green;
  }
}
.#{$namespace}-inner {
  display: flex;
  align-items: center;
  height: 100%;
  & > a {
    @include action-btn-styles($width: 8.5em);
  }
  a:focus {
    outline: $blue solid 1px;
  }
}
.#{$namespace}-search-container {
  display: flex;
  align-items: center;
  height: $navbar-height * 0.38;

  background-color: $off-white;
  margin-right: 1em;

  button {
    @include remove-btn-default;
    font-weight: 600;
    font-size: 0.95em;
    background: none;
    height: 100%;
    color: $light-black;
    padding-left: 1em;
    padding-right: 0.25em;
  }
  button:focus {
    outline: $blue solid 1px;
  }
  input {
    font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0.75em;
    background: none;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: $light-black;
    font-weight: 400;
    width: 10em;
  }
  input:focus {
    outline: $blue solid 1px;
  }

  input::placeholder {
    font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $darkest-gray;
    font-size: 0.73em;
  }
}
##{$namespace}-open-drawer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray;
  height: $navbar-height * 0.38;
  font-size: 1.5rem;
  aspect-ratio: 1/1;
  min-width: unset;
  margin-left: 0.5rem;
}
##{$namespace}-close-drawer-button {
  @extend ##{$namespace}-open-drawer-button;
  font-size: 1.5rem;
  height: 2.2em;
  //width: auto;
  width: 2.2em;
}
##{$namespace}-drawer {
  .MuiPaper-root {
    align-items: end;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
  }
  ##{$namespace}-links {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    flex-grow: unset;
    height: auto;
    box-sizing: border-box;
    min-width: 200px;
    a,
    button {
      font-size: math.div($navbar-height, 7);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $fontColor;
      font-family: "Vollkorn", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      box-sizing: border-box;
      min-height: $navbar-height * 0.38;
    }
  }
}

