@mixin project-pg-md {
  $namespace: "project-page";

  .#{$namespace}-text-content {
    $fontSize: 1.4rem;
    h2 {
      font-size: $fontSize;
    }
    p {
      font-size: $fontSize * 0.7;
    }
  }
}
@mixin project-pg-sm {
  $namespace: "project-page";

  .#{$namespace}-text-content {
    $fontSize: 1.2rem;
    h2 {
      font-size: $fontSize;
    }
    p {
      font-size: $fontSize * 0.7;
      padding: 0 10%;
    }
  }
}
