$namespace: "secondary-navbar";
.#{$namespace}-container {
  padding: 0 5%;
}
.#{$namespace}-nav {
  margin-top: 1em;
  margin-bottom: 2em;
  $btnWidth: 1em;
  width: calc(100% - (#{$btnWidth} * 2));
  @include carousel-btn-styles(
    $fontColor: $darker-gray,
    $btnWidth: $btnWidth,
    $bgColor: $white,
    $fontSize: 1rem
  );
}

.#{$namespace}-nav-link {
  position: relative;
  display: block;
  font-size: 0.9em;
  color: $light-black;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0 1em;
  text-align: center;
  font-family: "Vollkorn", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
