@mixin footer-md {
  $namespace: "footer";
  .#{$namespace}-top {
    justify-content: center;
    a {
      margin: 1rem 0;
    }
  }
  .#{$namespace}-top-text {
    justify-content: center;
    span {
      font-size: 0.9rem;
    }
    a {
      height: 1.8rem;
      font-size: 0.9rem;
    }
  }
  .#{$namespace}-bottom {
    position: relative;
    padding-top: 3em;
    padding-bottom: 2em;
    align-items: center;
    justify-content: center;
    height: 2rem;
    svg {
      height: 100%;
    }
  }
}
@mixin footer-sm {
  $namespace: "footer";
  .#{$namespace}-top {
    .social-media-container {
      a {
        height: 2rem;
        font-size: 1rem;
      }
    }
  }
  .#{$namespace}-top-text {
    span {
      font-size: 0.8rem;
    }
    a {
      height: 1.5rem;
      font-size: 0.8rem;
    }
  }
}
@mixin footer-hover {
  $namespace: "footer";
  .#{$namespace}-top {
    .social-media-container {
      a {
        transition: transform ease-out 0.25s;
        &:hover {
          background-color: darken($white, 4%);
          transform: scale(1.1);
        }
      }
    }
  }
}
