@use "sass:math";
@mixin scale-to-font-size-about-pg($fontSize: 3rem) {
  $namespace: "about-pg";
  .#{$namespace}-img-banner-text {
    font-size: $fontSize;
    // width: 50%;
    max-width: $fontSize * 10;
  }
  .#{$namespace}-text-content {
    font-size: math.div($fontSize, 2);
    // margin: 5%;
    // padding: 5%;
    // width: 90%;
    p {
      font-size: math.div($fontSize, 2);
    }
  }
  .#{$namespace}-img-presentation-banner {
    font-size: math.div($fontSize, 2);
    margin-bottom: math.div($fontSize, 3) * 3.5;
  }
  .#{$namespace}-img-presentation-container {
    margin: 0 2%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
@mixin about-pg-md {
  @include scale-to-font-size-about-pg(2rem);
  $namespace: "about-pg";
  .#{$namespace}-img-banner {
    aspect-ratio: 290/ 169;
  }
  .#{$namespace}-img-presentation-banner {
    flex-wrap: wrap;
    //margin-bottom: 3.5em;
  }
  $margin-spacing: 3%;
  .#{$namespace}-img-presentation-container {
    width: calc((100% - #{$margin-spacing}) / 2);
    &:nth-child(odd) {
      margin: 0;
      margin-bottom: $margin-spacing;
      margin-right: $margin-spacing;
    }
    &:nth-child(even) {
      margin: 0;
      margin-bottom: $margin-spacing;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    .#{$namespace}-img-container {
      aspect-ratio: 1;
    }
  }
  //   .#{$namespace}-img-presentation-banner {
  //   flex-wrap: wrap;
  // }
}
@mixin about-pg-sm {
  @include scale-to-font-size-about-pg(1.5rem);
  $namespace: "about-pg";
  .#{$namespace}-text-content {
    margin: 2.5em;
    padding: 2.5em;
    width: calc(100% - 2.5em * 2);
  }
  .#{$namespace}-img-presentation-banner {
    padding: 0 2em;
  }
}
