@import "./utilities/homePageImageBannerBreakpoints";
@mixin home-pg-lg {
  @include home-pg-img-banner-lg;
}
@mixin home-pg-md {
  $namespace: "home-pg";
  .#{$namespace}-category-nav {
    $btnWidth: 3em;
    width: calc(100% - (#{$btnWidth} * 2));
    @include carousel-btn-styles(
      $fontColor: $darker-gray,
      $btnWidth: $btnWidth,
      $bgColor: $white,
      $fontSize: 1.2em
    );
  }
  .#{$namespace}-img-container {
    width: 13em;
    height: 7.3125em;
  }
  .#{$namespace}-bottom-banner {
    flex-wrap: wrap;
    margin-bottom: 3.5em;
  }
  $margin-spacing: 3%;
  .#{$namespace}-bottom-banner-link {
    width: calc((100% - #{$margin-spacing}) / 2);
    &:nth-child(odd) {
      margin: 0;
      margin-bottom: $margin-spacing;
      margin-right: $margin-spacing;
    }
    &:nth-child(even) {
      margin: 0;
      margin-bottom: $margin-spacing;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include home-pg-img-banner-md;
}
@mixin home-pg-sm {
  $namespace: "home-pg";
  .#{$namespace}-category-nav {
    $btnWidth: 2em;
    width: calc(100% - (#{$btnWidth} * 2));
    @include carousel-btn-styles(
      $fontColor: $darker-gray,
      $btnWidth: $btnWidth,
      $bgColor: $white,
      $fontSize: 0.8em
    );
  }
  .#{$namespace}-img-container {
    width: 10em;
    height: 5.625em;
  }
  .#{$namespace}-bottom-banner {
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  @include home-pg-img-banner-sm;
}
@mixin home-pg-hover {
  @include home-pg-img-banner-hover;
  $namespace: "home-pg";
  .#{$namespace}-bottom-banner-action {
    a {
      @include action-btn-hover-styles;
    }
  }
  .#{$namespace}-bottom-banner-link {
    transition: transform 0.3s ease-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}
