@import "./variables";
@import "../src/utilities/utilities";
@import "../src/homePage/homePage";
@import "../src/aboutPage/aboutPage";
@import "../src/servicesPage/servicesPage";
@import "../src/projectsPage/projectPage";
@import "../src/contactPage/contactPage";
@import "./mediaQueries";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $white;
}
button {
  cursor: pointer;
}
// #general-app-container {
//   //padding-top: $navbar-height;

// }
